/* TODO when adding a project */
/* add the preview image id to the list in the media query */


html {
    scroll-behavior: smooth;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color10);
    color: white;
    box-sizing: border-box;
    transition: 0.2 ease;
}


/* variable color palette */
:root {
    --color1: #cae8d5; 
    --color2: #a7afaf; 
    --color3: #84a9ac; 
    --color4: #3b6978; 
    --color5: #204051; 
    --color6: #e7b2a5; 
    --color7: #84a9ac; 
    --color8: #3b6978;
    --color9: #11222b; 
    --color10: #19323f;  
    --color11: #ddd;
}



/* NAVBAR */
#navbar {
    position: absolute;
    position: fixed;
    color: #ffffff;
    font-size: 10px;
    /* line-height: 2em; */
    margin:auto;
    overflow:hidden;
    margin: 0;
    right:15px;
    top: 10px;
    padding-left: 10px;

    /* -webkit-backdrop-filter: blur(5px); */
    /* -webkit-filter: blur(8px); */
    background-color: var(--color10);
    border-radius: 5px;
    /* opacity: 0.8; */

}
#navbar ul {
    list-style: none;
    text-align: right;
    padding-left: 0;
}
#navbar li {
    display:inline;
    padding-right:10px;
}
#navbar a{
    color: var(--color3);
    text-decoration: none;
    font-size: 18px;
    padding-right:-30px;
}
#navbar li a:hover {
    text-shadow: 0 0 5px white;
}


/* SCROLLBAR */
/* cool scrollbars at https://codepen.io/akinjide/pen/BpggrZ */
*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    border-radius: 0px;
    visibility:hidden;
}
*::-webkit-scrollbar-thumb {
    /* border-radius: 10px; */
    height: 30%;
    background-image: linear-gradient( var(--color3) 0%, var(--color5) 100%);
}




.hero {
    color: var(--color11);
    /* color: var(--color6); */
    text-align: left;
    padding-top: 50px;
    padding-left: 7%;
    font-size: 2em;
    line-height: 0.7em;
    animation: hero 2s ;
}
@keyframes hero {
    from {opacity: 0;}
    to {opacity: 100%;}
}
.subHeading {
    font-size: 0.7em;
    color: var(--color7);
}
@media screen and (max-width: 500px) {
    .subHeading {
        /* font-size: 4.5vw; */
        font-size: 0.5em;
    }
}



/* CONTAINS ALL BOXES */
.box-container {
    width:100%;
    text-align: center;
    align-content: center;
    /* border: solid green; */
    /* background-color: var(--color5); */
}

/* EACH BOX */
.box {
    width: 100%;
    /* if you want to overlap with vertical pictures */
    /* height: 400px; */
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    /* border: solid pink; */
    /* padding: 0; */
}

/* RESPONSIVENESS */
@media screen and (max-width: 600px) {
    .box {
        flex-direction: column;
    }
    #music-happiness-index, #live-chat-app, #dug, #boxes, #music-portfolio {
        border-radius: 5px;
        width: 95%;
    }
    .preview-image {
        margin-bottom: 20px;
        border-radius: 2px;
        width: 100%;
    } 

    /* images (child 1) on top, text (child 2) below */
    /* override preview-image-left/right and project-text-left/right */
    .box :nth-child(1) { order: 1; }
    .box :nth-child(2) { order: 2; }
}


/* PROJECT TEXT DESCRIPTIONS */
.project-text {
    /* border: solid peru; */
    margin-left: 2%;
    margin-right: 2%;
    /* display: flex; */
    /* justify-content: stretch; */
}
.project-text-left {
    order: 1;
}
.project-text-right {
    order: 2;
}
.project-title {
    font-size: 2em;
    color: var(--color11);
}
.project-description {
    font-size: 1em;
    color: var(--color3);
}
/* these are for aligning text */
.left {
    text-align: left;
    /* padding-left: 0; */
}
.right {
    text-align: right;
    /* padding-right: 0; */
}

/* PREVIEW IMAGES */
.preview-image {
    height: 130%;
    /* border-radius: 20px; */
    border-radius: 10px;
    /* border-radius: 5px; */

    margin-left: 2%;
    margin-right: 2%;
    box-sizing: border-box;
    transition: 0.2s ease;
    box-shadow: 10px 10px 10px var(--color9);
}
.preview-image-left {
    order: 1;
}
.preview-image-right {
    order: 2;
}
.preview-image:hover {
    box-shadow: 0 0 5px white;
}
.preview-image-wide {
    width: 40%;
    /* thtas coolll */
    /* width: 80%; */
    height: auto;
}


/* SITE/CODE BUTTONS */
.btn-link {
    padding: 10px 0px;
    border-radius: 10px 3px;
}
/* weird thing for 'boxes' project */
.hidden {
    visibility: hidden;
}
.btns-left {
    float: left;
}
.btns-right {
    float: right;
}
.btn-link ul {
    list-style: none;
}
.btn-link li {
    display:inline;
}
.btn-link a{
    color: var(--color9);
    text-decoration: none;
    font-size: 18px;
    padding-right:-30px;
    background: linear-gradient(to bottom right, var(--color3), var(--color4));

    /* border-radius: 10px 3px; */
    border-radius: 10px;
    padding: 5px 10px;
    text-decoration: none;

}
.btn-link a:active, .btn-link a:hover, .btn-link a:focus {
    background: linear-gradient(to bottom right, var(--color4), var(--color3));
}




/* FOOTER */
#main-footer {
    color: var(--color11);
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;

}
#main-footer a {
    color: white;
    text-decoration: none;
    line-height: 2em;
}
#main-footer a:hover {
    text-shadow: 0 0 5px white;
}
#main-footer p {
    margin: 0;
}
#main-footer h3 {
    margin: 0;
}
#main-footer a {
    color: var(--color11);
    font-size: 15px;
}



/* ------ */
/* RESUME */
/* ------ */

#resume-container {
    position: relative;
    margin-top: 20px;
    display: flex;
    /* for safari bug */
    align-items: flex-start; /* new */
    
    width: 600px;
    /* width: 50%; */
    margin: auto;
    animation: appear 0.5s;
    pointer-events: none;
}
@keyframes appear {
    from {opacity: 0;}
    to {opacity: 100%;}
}
.resume {
    width: 100%;
    /* display: block; */
    margin-top: 60px;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px var(--color9);
}
.resumeEmailText {
    pointer-events: all;
    
    position: absolute;
    /* border: solid green; */
    /* background-color: pink; */
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    top: 120px;
    /* top: 15%; */
    /* top: 15vh; */
    padding-top: 5px;
    padding-bottom: 5px;
   
    text-align: center;
    line-height: 0.6em;
    font-size: 12px;
    /* font-size: 1vw; */
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    background-color: #fff;
}
.resumeEmailText a {
    color: var(--color10);
}
@media screen and (max-width: 600px) {
    #resume-container {
        width: 90%;
        /* display:block; */
    }
    .resumeEmailText { 
        visibility: hidden;
        opacity: 0;
        /* top: 14.9%; */
        /* font-size: 2vw; */

    }
}