/* @font-face {
    font-family: league;
    src: url(fonts/LeagueScript-Regular.ttf)
} */



body, html {
    /* height: 100%; */
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgb(248, 248, 248);
    font: grey;
    /* this smooth scroll doesnt work in safari */
    scroll-behavior: smooth;
}


/* scrollbar */
/* cool scrollbars at https://codepen.io/akinjide/pen/BpggrZ */
*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    border-radius: 0px;
    visibility:hidden;
}
*::-webkit-scrollbar-thumb {
    /* border-radius: 10px; */
    height: 30%;
    visibility:hidden;
    background-image: linear-gradient( #5074927e 0%, #212027 100%);
}
*::-webkit-scrollbar-thumb:hover {
    visibility:visible;
}


#navbar {
    /* float: left; */
    position: absolute;
    opacity: 0.7;
    color: #ffffff;
    font-size: 10px;
    line-height: 2em;
    margin:auto;
    overflow:hidden;
    margin: 0;
    right:10px;
    top: 10px;
}
#navbar ul {
    list-style: none;
    text-align: right;
    padding-left: 0;
}
#navbar li {
    display:inline;
    padding-right:10px;
    /* width: 10px; */
}
#navbar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right:-30px;
}
#navbar li a:hover {
    /* font-size: 25px; */
    text-shadow: 0 0 5px white;
    /* text-shadow: 0 0 0.1px white, 0 0 0.11px white, 0 0 0.11px white; */
}
/* navbar underline */
/* #navbar a:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 10px;
    border-width: 0 0 1px;
    border-style: solid;
} */



#title h1 {
    position: absolute;
    /* position: relative; */
    left: 1em;
    /* right: 2em; */
    top:0.4em;
    font-size: 60px;
    color:white;
    opacity: 0.7;
    letter-spacing: 0.05em;
    font-family: garamond;

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgba(0,0,0,0); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /* margin: 0 auto; Gives that scrolling effect as the typing happens */
    animation: 
      typing 2s steps(4, start),
      blink-caret .75s step-end 5s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;
}


/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 80% }
    /* the 80 keeps from glitch? when finished */
}
  
  /* The typewriter cursor effect */
/* @keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: rgbsa(0,0,0,0); }
} */


#subtitle h2 {
    position: absolute;
    left:35px;
    top:35px;
    font-size: 20px;
    color:white;
    opacity: 0.5;
    /* letter-spacing: 0.05em; */
    letter-spacing: 0.3em;
    font-family: 'Allura', cursive;
    transform: rotate(-5deg);

}
@media screen and (min-width: 600px) {
    #subtitle h2 {
        /* opacity: 0; */
        animation: fadein 0.5s;
        animation-fill-mode: backwards;
        
    }
}
@media screen and (max-width: 600px) {
    #subtitle h2 {
        /* opacity: 0; */
        animation: fadeout 0.5s;
        animation-fill-mode: forwards;
        
    }
}
@keyframes fadeout {
    from {opacity: 50%}
    to {opacity: 0%}
}
@keyframes fadein {
    from {opacity: 0%}
    to {opacity: 50%}
}





#cover-container {
    /* https://alligator.io/css/position-sticky/ */
    display: flex;
    /* the next lines weird */
    /* justify-content: space-around; */
    justify-content: flex-end;
    align-items: flex-start;
  
    /* height: 763px; */

    top:-762px;
    /* position: relative; */
    background-image: url(images/earthgang.jpg);
    height: 130%;
    /* width: 100%; */

    /* Center and scale the image nicely */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.stay {
    position: -webkit-sticky; /*not necess?*/
    position: sticky;
    bottom: 1rem;
    align-self: flex-end;
    /* right: -550px; */
    right: 30px;
}





.socials {    
    position: relative;
    top: 5px;
    float: right;
    bottom:3px;
    /* right:-550px; */
    /* right: -20em; */
    color: white;
    font-size: 1.5em;
    opacity: 70%;
    padding: 0;
    margin: 0;

}
.socials ul li {
    text-align: center;
    text-decoration: none;
    list-style: none;

}
.socials ul li:hover {
    text-shadow: 0 0 5px white;
}
.socials a {
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 1em;
    opacity: 70%;
}


.text-top {
    width: 60%;
    border: 1px solid rgb(75, 75, 75);
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
}
.text-bottom {
    width: 60%;
    border: 1px solid rgb(75, 75, 75);
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
}
#descrip {
    margin: 0% 20%;
    text-align: justify;
    /* text-align-last: justify; */
    color: rgb(75, 75, 75);
}
@media screen and (max-width: 600px) {
    #descrip {
        size: 20px;
        font-size: 12px;
    }
}

/* top corner pictures */
.top-left {
    width:100%;
    border-top-left-radius: 3px;
}
.top-right {
    width:100%;
    border-top-right-radius: 3px;
}
@media screen and (max-width: 600px) {
    .top-left {
        border-top-left-radius: 0px;
    }
}
@media screen and (max-width: 600px) {
    .top-right {
        border-top-right-radius: 0px;
    }
}

.photo-container {
    /* margin: 0px, 40px; */
    margin: auto;
    width:90%;
    /* text-align: center; */
    /* align-content: center; */
    /* border: solid red; */
}
@media screen and (max-width: 600px) {
    .photo-container {
        width: 100%;
        /* margin:0; */
    }
}

* {
/* includes border/pad/margin in width */
    box-sizing: border-box;
}
/* Create 3 equal columns that floats next to each other */
.column {
    float: left;
    -ms-flex: 33.3%;
    flex:33.3%;
    max-width: 33.3%;
    padding-left: 5px;
}
.column img {
    margin-top: 5px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    /* margin-bottom: 5px; */
}

.wide {
    margin-left: 5px;
    margin-right: 1px;
    margin-top: 5px;

}



/* Responsive - 2 columns */
/* @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  } */
  
/* Responsive - 1 column */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


hr {
    /* width: 60%; */
    /* dotted border */
    border: 1px solid rgb(75, 75, 75);
    width: 70%; margin: auto;
    margin-top: 20px; margin-bottom: -10px;
    
    /* zigzag border */
    /* border: none; width: 46.7%; margin: auto; margin-top: 5%; 
    margin-bottom: 5%; height: 40px;
    background: linear-gradient(135deg, rgb(117, 109, 109) 25%, transparent 25%) -20px 0, linear-gradient(225deg, lightgray 25%, transparent 25%) -20px 0, linear-gradient(315deg, darkgray 25%, transparent 25%), linear-gradient(45deg,rgb(66, 57, 57) 25%, transparent 25%);  */
    /* actual zag 40px, 40px */
    /* background-size: 80px 40px; 
    background-color: darkgrey; */
}

#main-footer {
    color:#fff;
    height: 30px;
    text-align: right;
    /* padding:20px; */
    margin-top:0px;
    /* border: black; */
}


#main-footer a {
    /* color : #f1b78f; */
    color:rgb(75, 75, 75);
    /* border-bottom: 30px; */
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 2em;
    
}




.copyright {
    color: rgb(179, 179, 179);
    position: relative;
    right: 5%;
    bottom: 30px;
    list-style: none;
    text-align: right;
}
@media screen and (max-width: 600px) {
    .copyright {
        width: 100%;
        right: 0%;
    }
}




#topButton {
    display: none;
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: rgba(182, 182, 182, 0.2);
    /* background-color: transparent; */
    color: rgba(255,255,255,0.7);
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
    animation: fade 0.5s;
}
@keyframes fade {
    from {opacity: 0%}
    to {opacity: 100%}
}


#topButton:hover {
    background-color: rgb(189, 189, 189);
}